.btn-login{
	-fx-background-color : #0373EE;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 15.0px;
	-fx-background-radius : 8.0px;
	
}

.AnchorPane{
	-fx-background-image : url("../view/img/fundo_azul.jpg");
}
	